/* global style */

* {
    margin: 0;
    padding: 0;
    border: none;
}

/* background img taken from https://css-tricks.com/snippets/css/transparent-background-images/ */

body::before {
    content: "";
    background: url('../images/background.jpg') repeat;
    background-size: contain;
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}

/* logo */

#logo i {
    margin-top: 10vh;
    margin-bottom: 20px;
    font-size: 900%;
    color: #D27D2D;
}

h1 {
    font-size: 200%;
    color: #D27D2D;
    margin: 0 auto;
}

#logo a {
    text-decoration: none;
    display: block;
    width: fit-content;
    margin: 0 auto;
}

/* sticky footer from https://css-tricks.com/couple-takes-sticky-footer/ */

body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}

/* footer icons with links */

#footer {
    flex-shrink: 0;
    height: 80px;
    background-color: #D27D2D;
}

#social {
    float: left;
}

#social ul{
    margin-top: 25px;
    margin-left: 30px;
    display: flex;
    align-items: baseline;
    justify-content: right;
}

.social-icon {
    font-size: 200%;
    margin: 0 10px;
    text-decoration: none;
    color: black;
}

#social li {
    list-style-type: none;
}

#envelope {
    margin-top: 25px;
    margin-right: 30px;
    float: right;
}

#envelope a {
    font-size: 200%;
    color: black;
}

/* main */

#main-container, #main-container-meals, #main-container-dishes {
    margin: 15vh auto 15vh auto;
    background-color: #e8be96;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px;
    box-sizing: border-box;
    width: 500px;
    max-width: 830px;
    padding: 0.5%;
}

#main-container h2, #main-container-meals h2, #main-container-dishes h2 {
    margin: 20px auto;
    text-align: center;
}

#meal-buttons, #dish-lottery, #quiz {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.meal-box, .dish-box, .quiz-box, .quiz-answer, .controls {
    background-color: #D27D2D;
    box-sizing: border-box;
    border: 1px solid transparent; 
    border-color: black; 
    border-radius: 5px;
    margin: 10px 0;
    width: 80%;
    padding: 0.5vh 1vw;
}

#quiz-question {
    font-weight: bold;
}

.controls {
    text-align: center;
    margin: 0;
    height: 20px;
}

.meal-box:hover, .dish-box:hover, .form-button:hover, .quiz-answer:hover {
    background:  #dea46c;
    cursor: pointer;
}

#recipe-link {
    text-decoration: none;
    color: black;
}

.quiz-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.correct {
    background-color: green;
}

.correct:hover {
    background-color: green;
    cursor: initial;
}

.wrong {
    background-color: red;
}

.wrong:hover {
    background-color: red;
    cursor: initial;
}


/* contact form */

.contact-box {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-between;
    font-size: 120%;
    font-weight: bold;
}

.form-box {
    background-color: #D27D2D;
    box-sizing: border-box;
    border: 1px solid transparent; 
    border-color: black; 
    
}

#message {
    max-width:80%;
}

#name, #email {
    margin: 5px 0 5px 15px;
    height: 25px;
    width: 80%;
}

.form-button {
    margin: 10px 0;
    background-color: #D27D2D;
    box-sizing: border-box;
    border: 1px solid transparent; 
    border-color: black; 
    padding: 10px;
    font-weight: bold;
}

/* media queries */

/* 500px */

@media screen and (max-width: 500px) {

    #logo i {
        font-size: 700%;
    }

    h1 {
        font-size: 100%;
    }
    
    #main-container, #main-container-meals, #main-container-dishes {
        width: 90%;
    }

    #main-container h2, #main-container-meals h2, #main-container-dishes h2 {
        font-size: 120%;
    }
}

/* 250x */

@media screen and (max-width: 250px) {

    #envelope {
        float: none;
    }
    
    #footer {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        height: 150px;
    }  

    .social-icon, #envelope a {
        font-size: 100%;   
    }
}